<!--msb: main sidebar-->
<div class="msb" id="msb">
  <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <div class="brand-wrapper">
              <!-- Brand -->
              <div class="brand-name-wrapper">
                  <a class="navbar-brand">
                      Logo
                  </a>
              </div>
          </div>
      </div>
      <!-- Main Menu -->
      <div class="side-menu-container">
          <ul class="nav navbar-nav">
              <li routerLink="/dashboard" routerLinkActive="active"><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
              <li routerLink="/emp-list" routerLinkActive="active"><a><i class="fa fa-users"></i> Employee List</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
</div>

